<div class="crypto-page" *ngIf="localData">
  <img [src]="localData.image" [alt]="alt" />
  <h2>{{ localData.name}}</h2>
  <div class="price">
    <h3>Price: {{ price }} USD</h3>
  </div>
  <div class="description">
    <p>{{localData.description}}</p>
  </div>
  <div class="buttons">
    <button *ngIf="username" (click)="showCrypto()">Buy {{localData.name}}</button>
    <button *ngIf="username" (click)="showCrypto()">Sell {{localData.name}}</button>
  </div>

  <div class="showDivs" *ngIf="showButtons" @fadeIn @fadeOut>
    <div class="buy-div">
      <div>
        <input type="number" placeholder="Amount {{localData.symbol}}" (keyup)="onKeyBuy($event)" ngModel #buyAmount>
        <button (click)="buyCrypto(buyAmount)">Buy for ${{ currentBuyAmount | multiplyPipe: price }}</button>
      </div>
    </div>

    <div  class="buy-div">
      <div>
        <input type="number" placeholder="Amount {{localData.symbol}}" (keyup)="onKeySell($event)" ngModel #sellAmount>
        <button (click)="sellCrypto(sellAmount)">Sell for ${{ currentSellAmount | multiplyPipe: price }}</button>
      </div>
    </div>
  </div>
  <div class="errors" *ngIf="error">
    <p class="error">{{error}}</p>
  </div>
  <p class="success" *ngIf="success">{{success}}</p>
</div>