<div class="crypto-page" *ngIf="localData" >
  <img [src]="localData.image" [alt]="alt"/> 
  <h2>{{ localData.name}}</h2>
  <div class="price">
    <h3>Price: {{ price }} USD</h3>
  </div>
  <div class="description">
    <p>{{localData.description}}</p>
  </div>
  <button (click)="showBuyCrypto()">Buy {{localData.name}}</button>
  <div *ngIf="showBuyCryptoDiv" @fadeIn @fadeOut class="buy-div">
    <div>
      <input type="number" placeholder="Amount {{localData.symbol}}"  (keyup)="onKey($event)">
      <button>Buy for ${{ currentAmount | multiplyPipe: price }}</button>
    </div>

  </div>
</div>