<div class="crypto-page" *ngIf="localData" >
  <img [src]="localData.image" [alt]="alt"/> 
  <h2>{{ localData.name}}</h2>
  <div class="price">
    <h3>Price: {{ price }} USD</h3>
  </div>
  <div class="description">
    <p>{{localData.description}}</p>
  </div>
  <button *ngIf="username" (click)="showBuyCrypto()">Buy {{localData.name}}</button>
  <div *ngIf="showBuyCryptoDiv" @fadeIn @fadeOut class="buy-div">
    <div>
      <input type="number" placeholder="Amount {{localData.symbol}}"  (keyup)="onKey($event)" ngModel #amount>
      <button (click)="buyCrypto(amount)">Buy for ${{ currentAmount | multiplyPipe: price }}</button>
    </div>
    <div *ngIf="error" class="not-enough-money">
      <p class="error">{{error}}</p>
      <a routerLink="/wallet/{{username}}">You can deposit from here.</a>
    </div>
      <p class="error" *ngIf="buyingError">{{buyingError}}</p>
      <p class="success" *ngIf="success">{{success}}</p>

  </div>
</div>