.crypto-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.crypto-page h2 {
  margin-bottom: 10px;
}

h2{
  font-size: xx-large;
}

h3{
  margin-top: 0;
}

.crypto-page img {
  /* width: 700px; */
  height: 300px;
  margin-bottom: -5px;
}
img{
  margin-top: -8px;
}
.crypto-page .description p {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 20px;
}

.crypto-page .price h3 {
  text-align: center;

  font-size: 20px;
}

.description{
  width: 70%;
  font-size: 18px;
}

button{
  width: 160px;
  height: 50px;
  border-radius: 30px;
  font-size: 22px;
  cursor: pointer;
}

button:hover{
  background-color: rgb(157, 155, 155);
}

.buy-div{
  margin-top: 10px;
}
.buy-div>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buy-div>div>input{
  width: 200px;
  height: 40px;
  border-radius: 15px;
  margin-right: 20px;
}
.buy-div>div>button{
  width: 250px;
  height: 60px;
}

p.error {
  text-align: left;
  border-radius: 0.3em;
  color: red;
  padding-top: 0;
  margin-left: 10px;
  font-size: 25px;
}

.success{
  text-align: left;
  border-radius: 0.3em;
  color: green;
  padding-top: 0;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.not-enough-money{
  display: flex;
  justify-content: space-evenly;

}
.not-enough-money>p{
  margin-right: 10px;
}

.not-enough-money>a{
  margin-left: 10px;
  font-size: 25px;
  color: black;
}
.buttons{
  display: flex;
  justify-content: space-evenly;
    width: 1000px;
}

.showDivs{
  display: flex;
  justify-content: space-around;
  width: 1000px;
}

.errors{
  display: flex;
  justify-content: space-around;
  width: 1000px;
}