*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-color: rgb(238,238,238);
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    background-color: rgb(255,255,255);
    border-radius: 4px;
    width: 20em;
    box-shadow: 0 0 5px black;
    padding: 0.5em 0.5em 1.5em 0.5em;
}
h1{
    font-size: 20px;
}