<div class="container">
    <div class="fancy-div">
        <h2>Welcome to Crypto Site</h2>
        <p>
            Crypto Market Info is a website that displays the most important information
            about the most famous cryptocurrencies. On it, you can learn how cryptocurrencies
            like Bitcoin, Ethereum, and many others work. The site is suitable for people
            who are new to the subject because the information provided by the site
            is at a very basic level.
        </p>
    </div>
</div>