<div class="wallet">
    <h1>{{username}}'s Wallet</h1>
    <div class="balance">
        <span class="fiat">Fiat Balance: </span><span class="balance-in-wallet">${{walletBalance}}</span>
    </div>
    <h2>Your Cryptocurrencies</h2>
    <div class="crypto-amount">
        <p>Crypto</p>
        <p>Amount</p>
    </div>
    <p *ngIf="isBoughtCrypto" class="dont-have">You dont have any cryptocurrencies.</p>
    <div class="crypto-list" *ngFor="let crypto of ownCryptosArray">
        <div class="cryptos">
            <p>{{crypto.name}}</p>
        </div>
        <div class="prices">
            <p>{{crypto.amount}}</p>
        </div>
    </div>
    <button *ngIf="!isShowedDeposit" class="deposit" (click)="showDeposit()">Deposit/Withdraw</button>
    <div *ngIf="isShowedDeposit" @fadeIn @fadeOut class="depositDiv">
        <div>
            <input placeholder="Amount" ngModel #depositAmount type="number">
            <button (click)="depositDollars(depositAmount)">Deposit Dollars</button>
        </div>
        <div>
            <input placeholder="Amount" ngModel #withdrawAmount type="number">
            <button (click)="withdrawDollars(withdrawAmount)">Withdraw Dollars</button>
        </div>
    </div>
    <p class="error" *ngIf="error">{{error}}</p>
    <p class="success" *ngIf="success">{{success}}</p>

</div>