<div class="wallet">
    <h1>My Wallet</h1>
    <div class="balance">
        <h2>Fiat Balance</h2>
        <p>${{walletBalance}}</p>
    </div>
    <h2>My Cryptocurrencies</h2>
    <div class="crypto-amount">
        <p>Crypto</p>
        <p>Amount</p>
    </div>
    <div class="crypto-list">
        <div class="cryptos">
            <p>Bitcoin (BTC) </p>
            <p>Ethereum (ETH) </p>
            <p>Ripple (XRP) </p>
        </div>
        <div class="prices">
            <p>0.345 BTC</p>
            <p>5.672 ETH</p>
            <p>1,250 XRP</p>
        </div>


    </div>
</div>