<div class="wallet">
    <h1>{{username}}'s Wallet</h1>
    <div class="balance">
        <span class="fiat">Fiat Balance: </span><span class="balance-in-wallet">${{walletBalance}}</span>
    </div>
    <h2>My Cryptocurrencies</h2>
    <div class="crypto-amount">
        <p>Crypto</p>
        <p>Amount</p>
    </div>
    <div class="crypto-list" *ngFor="let crypto of ownCryptosArray">
        <div class="cryptos">
            <p>{{crypto.name}}</p>
        </div>
        <div class="prices">
            <p>{{crypto.amount}}</p>
        </div>
    </div>
    <button *ngIf="!isShowedDeposit" class="deposit" (click)="showDeposit()">Deposit</button>
    <div *ngIf="isShowedDeposit" @fadeIn @fadeOut class="depositDiv">
        <input placeholder="Amount" ngModel #amount>
        <button (click)="depositDollars(amount)">Deposit Dollars</button>
    </div>
    <p class="error" *ngIf="error">{{error}}</p>
    <p class="success" *ngIf="success">{{success}}</p>

</div>