.wallet {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    text-align: center;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  
  .balance span {
    font-size: 23px;
    font-weight: bold;
  }
  .balance-in-wallet{
    color: #27ae60;
  }

  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .crypto-amount{
    display: flex;
    justify-content: space-around;
    height: 30px;
    align-items: center;
    margin-top: 20px;
  }
  .crypto-amount>p{
    font-size: 20px;
    font-weight: bold;
  }
  .cryptos>p{
    font-size: 18px;
    width: 166px;
    padding-left: 20px;
    margin-bottom: 0;
    margin-top: 10px;
  }
  .prices>p{
    font-size: 18px;
    width: 210px;
    padding-left: 20px;
    margin-bottom: 0;
    margin-top: 10px;
  }

  .fiat{
    font-size: 23px;
  }
.deposit{
  margin-top: 13px;
  width: 140px;
  height: 35px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
}

.deposit:hover{
  background-color: rgb(185, 182, 182);
}
.depositDiv{
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.depositDiv>input,.depositDiv>button{
  border-radius: 15px;
  font-size: 18px;
}

.depositDiv>input{
  width: 165px;
  height: 30px;
}
.depositDiv>button{
  width: 165px;
  height: 40px;
  cursor: pointer;
}

.depositDiv>button:hover{
  background-color: rgb(185, 182, 182);
}


p.error {
  text-align: left;
  border-radius: 0.3em;
  color: red;
  padding-top: 0;
  display: flex;
  justify-content: center;
  font-size: 18px;
}
.success{
  text-align: left;
  border-radius: 0.3em;
  color: green;
  padding-top: 0;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.crypto-list {
  display: flex;
  justify-content: space-around;
}
.crypto-list>div{
  height: 30px;
  margin-bottom: 0;
  margin-top: 10px;
}

.dont-have{
  font-size: 18px;
}