.signup-form {
    max-width: 300px;
    margin: 3em auto 0 auto;
    border: 1px solid black;
    padding: 1.5em;
    background-color: white;
}

.signup-form h2 {
    text-align: center;
    margin-top: 0;
}

.signup-form label {
    display: block;
    margin-top: 10px;
}

.signup-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.signup-form button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    margin-top: 1em;
}

.signup-form button:hover {
    background-color: #555;
}

.signup-form button:disabled {
    background-color: #888;
    cursor: not-allowed;
}

.signup-form .register-error-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.signup-form .register-error-container .error {
    color: red;
    margin: 1em 0 0 0;
}