.crypto-card {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .crypto-card h2 {
    margin-top: 0;
  }

  .container {
    width: 80%;
    margin: 0 auto; 
    padding: 20px;
    display: grid;
    grid-template-columns: 70% 30%; 
    gap: 20px;
  }