<div class="container">
    <h2>Registration Form</h2>
    
    <form #form="ngForm" (ngSubmit)="register(form)">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" placeholder="Enter your username" ngModel required>
      
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="Enter your email" ngModel required>
      
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Enter your password" ngModel required>
      
      <label for="confirm-password">Confirm Password:</label>
      <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm your password" ngModel required>
      
      
      <input type="submit" value="Register" *ngIf="!form.invalid">
      <input type="submit" value="Register" *ngIf="form.invalid" disabled style="background-color: grey;">
      <button class="login-button" routerLink="/login">Login</button>
    </form>
  </div>