
  
  .crypto-card {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .crypto-card h2, a {
    margin-top: 0;
    color: #333;
  }
  
  .crypto-card p {
    margin: 5px 0;
  }

  .red{
    color: red
  }

  .green{
    color:green
  }