<aside>
    <div class="crypto-description">
      <h3>Bitcoin (BTC)</h3>
      <p>Description: Bitcoin is a decentralized digital currency that enables instant transactions between parties.</p>
    </div>
    
    <div class="crypto-description">
      <h3>Ethereum (ETH)</h3>
      <p>Description: Ethereum is an open-source blockchain platform that allows developers to build decentralized applications.</p>
    </div>
    
    <div class="crypto-description">
      <h3>Ripple (XRP)</h3>
      <p>Description: Ripple is a digital payment protocol that enables fast and low-cost international money transfers.</p>
    </div>
  </aside>