
  .crypto-description {
    background-color: #f2f2f2;
    padding: 10px;
    padding-left: 10px;
    padding-bottom: 17px;
    margin: 19px;
    margin-left: 5px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: system-ui;
    font-size: large;
    margin-bottom: 30px;
  }
  

   .crypto-description:nth-child(1){
    margin-top: 1px;
    /* margin-bottom: 45px; */
  }
   /* .crypto-description:nth-child(2){
    margin-top: -19px;
    margin-bottom: 45px;
  }
   .crypto-description:nth-child(3){
    
  }  */
  .crypto-description h3 {
    margin-top: 8px;
    color: #333;
  }
  
  .crypto-description p {
    margin: -8px 0;
    color: #666;
  } 