<aside>
  <div *ngFor="let crypto of processedLocalDataArray">

    <div class="crypto-description">
      <h3>{{crypto.name}} ({{crypto.symbol}})</h3>
      <p>Description: {{crypto.miniDescription}}</p>
    </div>
  </div>
    
    <!-- <div class="crypto-description">
      <h3>Ethereum (ETH)</h3>
      <p>Description: Ethereum is an open-source blockchain platform that allows developers to build decentralized applications.</p>
    </div>
    
    <div class="crypto-description">
      <h3>Ripple (XRP)</h3>
      <p>Description: Ripple is a digital payment protocol that enables fast and low-cost international money transfers.</p>
    </div> -->
  </aside>