<main>
  <div *ngIf="isLoading">
    <div class="crypto-card">
      <h2>BTC...</h2>
      <div>
        <span>Price: </span><span>Loading...</span>
        <p><span>Market Cap: </span> <span>Loading...</span></p>
      </div>
    </div>

    <div class="crypto-card">
      <h2>ETH...</h2>
      <div>
        <span>Price: </span><span>Loading...</span>
        <p><span>Market Cap: </span> <span>Loading...</span></p>
      </div>
    </div>

    <div class="crypto-card">
      <h2>XRP...</h2>
      <div>
        <span>Price: </span><span>Loading...</span>
        <p><span>Market Cap: </span> <span>Loading...</span></p>
      </div>
    </div>
  </div>
  <div class="crypto-card" *ngFor="let crypto of processedDataArray">
    <h2>&#62;&#62;<a class="link" [routerLink]="[crypto.routerLinkVariable]">{{crypto.name}} ({{crypto.symbol}})</a>&#60;&#60;</h2>
    <div *ngIf="isLoading">
      <p>Loading...</p>
    </div>
    <div *ngIf="crypto.isPumping && !isLoading">
      <span>Price: </span><span> ${{crypto.price}} </span>
      <p><span>Market Cap: </span> <span> ${{crypto.marketCap}} </span>
      <p><span>Change 24h: <span class="green">{{crypto.changePercent24Hr}}% &#8599;</span></span></p>
    </div>
    <div *ngIf="!crypto.isPumping && !isLoading">
      <span>Price: </span><span> ${{crypto.price}}</span>
      <p><span>Market Cap: </span> <span> ${{crypto.marketCap}}</span>
      <p><span>Change 24h: <span class="red">{{crypto.changePercent24Hr}}% &#8600;</span></span></p>
    </div>
  </div>
  <!-- <div class="crypto-card">
    <h2>Ethereum (ETH)</h2>
    <p>Price: $2,500</p>
    <p>Market Cap: $300 billion</p>
  </div>

  <div class="crypto-card">
    <h2>Ripple (XRP)</h2>
    <p>Price: $0.75</p>
    <p>Market Cap: $30 billion</p>
  </div> -->
</main>