
  
  .crypto-card {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  h2,span{
    font-family: Serif;
    font-size:20px;
    
  }

  /* .second-div-in-crypto-card{
    
  } */

  .main-h2{
    font-family: system-ui;
    font-weight: 800;
  }
  .crypto-card h2, a {
    margin-top: 0;
    color: #333;
  }
  
  .crypto-card p {
    margin: 5px 0;
  }

  .red{
    color: red
  }

  .green{
    color:green
  }

  a {
    text-decoration: none;
  }
.link {
  color:black;
  border: 1px solid black;
  background-color: white;
  padding: 2px;
  font-family:sans-serif;
}
.link:hover{
  color: white;
  border: 1px solid white;
  background-color: black;
  padding: 7px;
}
