<header>
    <h1>Welcome to Crypto Market Info</h1>
</header>

<nav>
    <div class="nav-left">
        <a routerLink="/home">Welcome</a>
        <a routerLink="/cryptos">All Cryptos</a>
        <a routerLink="/crypto-news">Crypto News</a>
    </div>
    <div class="nav-right" *ngIf="username">
        <a routerLink="/profile">{{username}}'s profile</a>
        <a routerLink="/logout" (click)="logout()">Logout</a>
    </div>
    <div class="nav-right" *ngIf="!username">
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
    </div>
</nav>