@media (max-width: 600px){
    .home-hero-text-container{
        margin: 0;
    }
    .home-hero{
        flex-direction: column-reverse;
    }
    .home-image1{
        width: 100%;
    }
    .home-hero-text-container{
        width: 100%;
        margin-top: 1em;
    }
    img{
        max-width: 100%;
    }
    .home-cta-btn2{
        align-self: center;
    }
    .home-heading-container{
        width: 100%;
    }
    .home-stats{
        grid-template-columns: none;
        margin-top: 50em;
    }
    .home-cards-container{
        flex-direction: column;
        align-items: center;
    }
    .home-feature-card{
        width: 100%;
    }
    .home-feature-card1, .home-feature-card2{
        width: 100%;
    }
    .home-text04, .home-text05, .home-text06, .home-text07{
        font-size: 16px;
    }

}