.profile {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    text-align: center;
  }
  
  img {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  p.about-me {
    margin-top: 15px;
  }

  .change{
    border-radius: 15px;
    font-size: large;
    margin-top: 13px;
    cursor: pointer;
    
  }

  .change:hover{
    background-color: rgb(195, 188, 188);
  }

  .avatar{
    display: flex;
    justify-content: center;
    margin-top: 13px;
  }
  
  input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
  }

  p.error {
    text-align: left;
    border-radius: 0.3em;
    color: red;
    padding-top: 0;
    display: flex;
    justify-content: center;
  }

  .changeButton{
    border-radius: 10px;
    cursor: pointer;
  }

  .changeButton:hover{
    background-color: rgb(195, 188, 188);
  }