ul{
    list-style-type: none;
    margin-top: 3em;
}
li{
    display: inline-block;
}
i{
    padding: 0.3em;
}
a{
    border-radius: 50%;
    background-color: lightgray;
    color: black;
    padding: 1em;
    margin-right: 1em;
}
.fa-facebook:hover{
    color: blue;
    border-radius: 50%;
}
.fa-twitter:hover{
    color: cyan;
}
.fa-google-plus-g:hover{
    color: white;
    background-color: red;
    border-radius: 50%;
}
.fa-linkedin-in:hover{
    background-color: blue;
    border-radius: 50%;
    color: white;
}
.fa-instagram:hover{
    color: blue;
}