* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    padding: 2.5em 5em;
}
h2{
    margin-bottom: 1em;
    font-family: Georgia, serif;
}
p {
    font-family: sans-serif;
    line-height: 1.2;
}
main{
    max-width: 65%;
}
blockquote{
    float: right;
    max-width: 50%;
    border-left: 2px solid grey;
    padding-bottom: 1em;
    padding-left: 1em;
    font-style: italic;
    font-family: Georgia, serif;
    color: grey;
}
main p{
    margin-bottom: 1.5em;
}
aside{
    margin-left: 3em;
}
h3{
    margin-top: 1em;

}
ul{
    margin-top: 0.5em;
    margin-left: 2.3em;
}
li>span,li>a{
    color: rgb(0, 153, 0);
}
a{
    text-decoration: none;
}
.page{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.main-aside{
    display: flex;
}
header p:first-child {
    border-bottom: 1px solid black;
    font-weight: 700;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;

}

img[alt='1']{
    float: right;
    border: 3px solid black;
    background-color: rgb(255, 255, 255);
    padding: 0.3em;
    height: 12em;
    width: auto;
}
img[alt='2']{
    float: left;
    padding: 0.3em;
    margin: 0 1em 0.5em 0;
    border: 3px solid black;
    background-color: rgb(255, 255, 255);
    height: 7em;
    width: auto;
}
main>p:nth-child(8){
    max-width: 50%;
}
blockquote span{
    display: block;
    margin-top: 3.3em;
    float: right;
}
@media (max-width: 500px){
    body{
        font-size: 12px;
        padding: 2.5em 2em;
    }
    img[alt='1'],img[alt='2']{
        float: none;
    }
}
@media (max-width: 600px) and (min-width:500px){
    body{
        font-size: 14px;
        padding: 2.5em 2em;
    }
}
@media (max-width: 800px) and (min-width:600px){
    body{
        font-size: 16px;
        padding: 2.5em 2.5em;
    }
}
@media (max-width: 1300px) and (min-width:800px){
    body{
        font-size: 18px;
        padding: 2.5em 3em;
    }
}
@media (max-width: 1800px) and (min-width:1300px){
    body{
        font-size: 21px;
        padding: 2.5em 4em;
    }
}
@media (min-width: 1800px){
    body{
        font-size: 23px;
    }
}