@media (max-width: 600px) {
    body {
        font-size: 18px
    }

    footer {
        font-size: 16px;
    }

    .navbar-link,
    .home-textinput {
        display: none;
    }

    .navbar-logo-title {
        text-align: start;
        margin-left: 0;
    }

    .home-navbar1 {
        justify-content: start;
    }

    .home-hero1 {
        flex-direction: column;
    }

    .home-info,
    .home-btn-group,
    .home-container04 {
        justify-content: center;
    }

    .home-container03 {
        margin-left: 100px;
    }

    .category-card-image {
        width: 200px;
        height: 200px;
    }

    .home-full-width-banner {
        flex-wrap: wrap;
    }

    .home-image6 {
        width: 100%;
    }

    .home-left4 {
        padding: 2em 0 2em 0;
    }

    .home-text30 {
        width: 100%;
    }

    .home-btn {
        margin-top: -1.3em;
    }

    .home-container09 {
        max-width: 70%;
        position: relative;
        top: 925px;
        left: 32px;
    }

    .home-links-container {
        flex-wrap: wrap;
        position: relative;
        right: 150px;
    }

    .section-container {
        padding-top: 25px;
    }

    .home-container08 {
        display: flex;
        justify-content: center;
        width: 100%;
    }

}