.one-motorbike-container{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
    margin-top: 3.5em;
}
.one-motorbike {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    width: 34em;
    border-radius: 1em;
    padding: 1em 2em;
}

.one-motorbike>div:nth-child(1) {
    margin-top: 1.5em;
    margin-bottom: 1.2em;
}

.one-motorbike img {
    max-width: 20em;
    height: auto;
    border-radius: 1em;
}

.one-motorbike .information {
    max-width: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.one-motorbike .information li {
    font-size: 26px;
}