body{
    background-color: lightslategray;
}
p{
    background-color: #0F4069;
    width: 300px;
    padding: 20px;
    border-radius: 15px 0 15px 0;
    margin: auto;
    color: whitesmoke;
    border: 2px solid #e6eaef;
}